@import url('https://fonts.googleapis.com/css2?family=');

*{

margin: 0;
padding: 0;
font-family: "poppins";
color: white;

}

body{

  background: linear-gradient(35deg,black,70%,red);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;



}

.header img{
  height: 50px;
  scale: .9;
  filter: saturate(3);



}

.header img:hover{

  filter: saturate(3);
  scale: 1;

}


.navbar a{

  text-decoration: none;
  color: aliceblue;
  margin-left: 35px;
  font-size: 19px;
  cursor: pointer;
  position: relative;
  z-index: -1;
 

}

.navbar a::before{

  content: "";
   height: 100%;
   width: 100%;
   border-bottom: 2px solid red;
   position: absolute;
   left: 0;
   top: -100%;
   transition: .5s ease ;
   opacity: 0;
   z-index: -1;
  

}

.navbar a:hover::before{
 top: 0;
 opacity: 1;

}

.left {
  width: 40%;
  padding: 10rem 9% 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

section{

  padding: 10rem 9% 2rem;
  height: 100vh;
  width: 100%;
}

.home
{
  display: flex;
  justify-content:space-evenly;
  align-items: center;

}

.text-content{
  max-width: 600px;

}
.text-content h2{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 550;
}
.text-content span{

  font-size: 32px;
  color: red;

}
.button{
  margin: 20px 0;
}

.btn{
  height: 45px;
  width: 150px;
  background: transparent;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid red;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.btn::before{

  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  left: 0;
  top: -100;
  background: linear-gradient(#0f0a0a,red,#0f0a0a,red);
         transition: .5s ease;
         z-index: -1;

}

.btn:hover::before{

  top: 0;

}
.home .imageset1{
  height: 200px;
  position: absolute;
  transform: translateX(-150%);
}
.imageset1{
display: flex;
justify-content: center;
align-items: center;
position: relative;


}
.imageset1 img{
  width: 550px;
  position: absolute;

}
.imageset1 img:nth-child(2){

      left: -180px;
      z-index: -2;
    }


    .about{
      background: linear-gradient(35deg,#0f0a0a,70%,red);

    }

    

.heading{
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.heading span{
  color: #f00;
}

.content{

  display: flex;
  justify-content: space-between;
  align-items: center;


}
.content h2{
  font-size: 32px;
  text-align: left;

}
.content h3{
  font-size: 22px;
  font-weight: 500;
}


.content img{
  height: 250px;
}


